P1/memoria/memoria.aux
P1/memoria/memoria.f*
P1/memoria/memoria.log
P1/memoria/memoria.toc
P2/*.pdf
P2/memoria/memoria.aux
P2/memoria/memoria.f*
P2/memoria/memoria.log
P2/memoria/memoria.toc
P3/memoria/memoria.aux
P3/memoria/memoria.f*
P3/memoria/memoria.log
P3/memoria/memoria.toc
